<?xml version="1.0" ?>
<robot name="Fusion2URDF" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find bj_actuator_rviz)/urdf/materials.xacro" />
<!-- <xacro:include filename="$(find Fusion2URDF_description)/urdf/Fusion2URDF.trans" />
<xacro:include filename="$(find Fusion2URDF_description)/urdf/Fusion2URDF.gazebo" /> -->
<link name="base_link">
  <inertial>
    <origin xyz="-0.0028330346955828395 0.0016884966323609874 -0.06621212930095734" rpy="0 0 0"/>
    <mass value="14.785990178874746"/>
    <inertia ixx="0.29892" iyy="0.394886" izz="0.24856" ixy="0.003362" iyz="0.003339" ixz="-0.005604"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bj_actuator_rviz)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bj_actuator_rviz)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="motor_mount_1">
  <inertial>
    <origin xyz="-0.019812406494891858 -0.04982856799628446 0.060409745966615275" rpy="0 0 0"/>
    <mass value="1.1722540905080954"/>
    <inertia ixx="0.002714" iyy="0.003585" izz="0.001392" ixy="-0.000166" iyz="0.00045" ixz="0.000773"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.048 -0.02" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bj_actuator_rviz)/meshes/motor_mount_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.048 -0.02" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bj_actuator_rviz)/meshes/motor_mount_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="front_case_1">
  <inertial>
    <origin xyz="0.0002942746675850122 -0.023330875253813 -0.0005510528081631438" rpy="0 0 0"/>
    <mass value="0.4273308542503233"/>
    <inertia ixx="0.000607" iyy="0.001141" izz="0.000598" ixy="-1e-06" iyz="3e-06" ixz="6e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.034875 0.13427 -0.11255" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bj_actuator_rviz)/meshes/front_case_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.034875 0.13427 -0.11255" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bj_actuator_rviz)/meshes/front_case_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="rear_case_241023_1">
  <inertial>
    <origin xyz="-0.001859711636107951 -0.008197454219922587 -0.0010899592942909264" rpy="0 0 0"/>
    <mass value="0.21930558501864583"/>
    <inertia ixx="0.000346" iyy="0.000681" izz="0.000363" ixy="1e-06" iyz="3e-06" ixz="1.2e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.034875 0.11 -0.11255" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bj_actuator_rviz)/meshes/rear_case_241023_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.034875 0.11 -0.11255" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bj_actuator_rviz)/meshes/rear_case_241023_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="mass_plate_1">
  <inertial>
    <origin xyz="1.49011789019049e-10 -0.014999999999999486 1.6653345369377348e-16" rpy="0 0 0"/>
    <mass value="13.129065500806407"/>
    <inertia ixx="0.019268" iyy="0.036596" izz="0.019268" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.034875 0.17717 0.07745" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bj_actuator_rviz)/meshes/mass_plate_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.034875 0.17717 0.07745" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bj_actuator_rviz)/meshes/mass_plate_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="bearing_1">
  <inertial>
    <origin xyz="3.469446951953614e-16 0.003200000000000147 2.0816681711721685e-16" rpy="0 0 0"/>
    <mass value="0.008940871381981142"/>
    <inertia ixx="4e-06" iyy="8e-06" izz="4e-06" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.034875 0.16687 -0.11255" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bj_actuator_rviz)/meshes/bearing_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.034875 0.16687 -0.11255" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bj_actuator_rviz)/meshes/bearing_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="test_bar_1">
  <inertial>
    <origin xyz="5.5887093564077617e-11 -0.0063308148042292844 -0.050698056951401435" rpy="0 0 0"/>
    <mass value="0.33133706662052054"/>
    <inertia ixx="0.001228" iyy="0.001264" izz="4.1e-05" ixy="0.0" iyz="-2e-05" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.034875 0.16717 -0.11255" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bj_actuator_rviz)/meshes/test_bar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.034875 0.16717 -0.11255" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bj_actuator_rviz)/meshes/test_bar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="base_joint" type="fixed">
  <origin xyz="0.0 -0.048 0.02" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="motor_mount_1"/>
</joint>

<joint name="case_joint" type="fixed">
  <origin xyz="0.0 -0.02427 0.0" rpy="0 0 0"/>
  <parent link="rear_case_241023_1"/>
  <child link="front_case_1"/>
</joint>

<joint name="mount_joint" type="fixed">
  <origin xyz="-0.034875 -0.062 0.09255" rpy="0 0 0"/>
  <parent link="motor_mount_1"/>
  <child link="rear_case_241023_1"/>
</joint>

<joint name="mass_joint" type="fixed">
  <origin xyz="0.0 -0.01 -0.19" rpy="0 0 0"/>
  <parent link="test_bar_1"/>
  <child link="mass_plate_1"/>
</joint>

<joint name="gear_joint" type="fixed">
  <origin xyz="0.0 -0.0326 0.0" rpy="0 0 0"/>
  <parent link="front_case_1"/>
  <child link="bearing_1"/>
</joint>

<joint name="continuous_joint" type="fixed">
  <origin xyz="0.0 -0.0003 0.0" rpy="0 0 0"/>
  <parent link="bearing_1"/>
  <child link="test_bar_1"/>
</joint>

</robot>
